body{
  background-image: url(img/background.jpg);
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

.transbox {
  margin: 100px;
  background-color: rgba(0,0,0,.5);
  opacity: 0.9;
  padding: 100px;
  border-radius: 20px;
}

#logo{
  width: 300px;
}

.testo{
  color: #04dc04; /*lime*/
}

header,nav{
  text-align: center;
}

nav{
  padding: 10px;
  background-color: #04dc04; /*lime*/
  border-radius: 6px;
}

main{
  color: white;
  line-height: 80%;
}

.monopattino{
  display: inline-block;
  font-size: 30px;
  margin-top: 30px;
}

.orangebar,.greenbar,.redbar{
  height: 25px;
  border-radius: 6px;
}

.orangebar{
  width: 40%;
  background-color: orange;
}

.greenbar{
  width: 60%;
  background-color: #04dc04; /*lime*/
}

.redbar{
  width: 20%;
  background-color: red;
}
